
<div class="col-md-6 offset-md-3 mt-5 card card-body border border-dark" *ngIf="singleHotel">
    <div>
        <div>
            <div class="card card-body">
                <img src="{{hotelImageURL}}"  style="align-items: center;"  alt=""     class="img-fluid"  style="height: 200px; width: 500px;">
               
            </div>
            <div class="form-group">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-light">
                            Hotel Name
                        </span>
                    </div>
                    <span class="input-group-text bg-light text-dark form-control">
                        {{hotelName}}
                    </span>
                </div>
            </div>

            <div class="form-group">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-light">
                            Hotel Address
                        </span>
                    </div>
                    <span class="input-group-text bg-light text-dark form-control">
                        {{hotelAddress}}
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-light">
                            Licence Number
                        </span>
                    </div>
                    <span class="input-group-text bg-light text-dark form-control">
                        {{licenceNumber}}
                    </span>
                </div>


            </div>

            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-dark text-light">
                            Contact Number
                        </span>
                    </div>
                    <span class="input-group-text bg-light text-dark form-control">
                        {{hotelContactNumber}}
                    </span>
                </div>


            </div>

        </div>
    </div>
</div>