<nav class="navbar navbar-expand-sm navbar-light" >
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
      <li class="nav-item active" *ngIf='!isLoggedIn()'>
        <a class="nav-link " routerLink="/">Home </a>
      </li>
      <li class="nav-item active" *ngIf='!isLoggedIn()'>
        <a class="nav-link " routerLink="/visitor">View Hotels</a>
      </li>
    </ul>
    <ul class="navbar-nav float-right" >
      <li class="nav-item active" *ngIf='!isLoggedIn()'>
        <a class="nav-link " routerLink="/login">Login</a>
      </li>
      <li class="nav-item active" *ngIf='!isLoggedIn()'>
        <a class="nav-link " routerLink="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>